<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">

    <springProperty name="logLevel" source="logback.level" defaultValue="INFO" scope="context" />
    <springProperty name="logName" source="spring.application.name" defaultValue="falcon" scope="context" />
    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %level | %thread | %logger{36}:%line | %X{X-B3-TraceId} | %msg%n" />

    <contextName>${logName}</contextName>

    <appender name="CLOUD" class="org.falcon.logging.CloudAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/${logName}.error.log</File>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${logName}.%d{yyyyMMdd}.error.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <!--只保留ERROR日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="${logLevel}">
        <appender-ref ref="CLOUD"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

</configuration>